header {
    background-color: #a36b3d;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 110px;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 15px; /* espaçamento */
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; /* tirar o sublinhado nos links */

}

nav a:hover { /* efeito aplicado ao passar o mouse por cima do elemento */
    color: #C78C19;
    text-decoration: underline; /* sublinhado */

}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #a36b3d;
    
}

#banner {
    width: 100%;
}

.principal {
    padding: 3em 0;
    background-color: #a36b3d;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    background-color: #9a653a;
    margin: 0 0 1em;

}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
    text-shadow: 2px 2px #341f0e;
}


.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensílios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios {
    padding: 3em 0;
    background-color: #3d2410;
    
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "★";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 5px #311d0d;
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

footer {
    text-align: center;
    background: url("imagens/footer-bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px;
}

.banner {
    width: 100%;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#A36B3D, #3d2410);
    
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

 .video {
     width: 560px;
     margin: 2em auto;
 }
/* Responsividade */
 @media screen and (max-width: 480px) {
     .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
         width: auto;
     }

     h1 {
         text-align: center;
     }

     nav {
         position: static;
     }

     .lista-beneficios, .imagem-beneficios {
         width: 100%;
     }

 } 